!/target/trait_ocws*.jar
!/target/odm.bat
!/target/odm.sh
/distribution/traitocws-0.0.2-SNAPSHOT.jar
/target/classes/
/target/maven-archiver/
/target/test-classes/
/target/surefire-reports/
/target/generated-sources/
/unpack-dir/
/**/*.class
/**/*.jar
